.container {
  width: min(1120px, calc(100% - 48px));
  position: relative;
  margin-inline: auto;
  box-sizing: border-box;
}

@media (max-width: 560px) {
  .container {
    width: min(100% - 32px, 1120px);
  }
}
